@layout('layout.master')

@section('styles')
	@super

	{{ style('vendor/datatables/dataTables.bootstrap4.min')}}
@endsection

@section('scripts')
	@super

	{{ script("vendor/datatables/jquery.dataTables.min") }}
  	{{ script("vendor/datatables/dataTables.bootstrap4.min") }}
  	{{ script("js/demo/datatables-demo") }}
@endsection

@section('content')
	<h1 class="h3 mb-2 text-gray-800">Lista dos Usuários</h1>
	<p class="mb-4">
		Veja abaixo a lista de usuários cadastrados na plataforma Console NEXT.
	</p>

	<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Instâncias</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					@if(users)
						<table class="table table-bordered table-condensed table-hover table-striped" id="dataTableInstances" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Username</th>
									<th>E-mail</th>
									<th>Created At</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Name</th>
									<th>Username</th>
									<th>E-mail</th>
									<th>Created At</th>
									<th class="text-center">Actions</th>
								</tr>
							</tfoot>
							<tbody>
								@each(user in users)
									<tr>
										<td><a href="{{ route('users.show', { id: user.id }) }}">{{ user.name }}</a></td>
										<td>{{ user.username }}</td>
										<td>{{ user.email }}</td>
										<td>{{ user.created_at_format }}</td>
										<td class="text-center">
											<a href="{{ route('users.edit', { id: user.id }) }}"><i class="fa fa-cog"></i></a>
										</td>
									</tr>
								@endeach
							</tbody>
						</table>
					@else
						<div class="alert alert-info">Nenhum usuário foi encontrado.</div>
					@endif
				</div>
			</div>
		</div>
@endsection
